*Makefile
*Makefile.in
*.deps
aclocal.m4
autom4te.cache/
config.guess
config.sub
configure
configure.ac
depcomp
docs/capi
docs/html-manuals
install-sh
ltmain.sh
missing
modules/array/array_*.[ch]
modules/date/date_*.[ch]
modules/filesystem/filesystem_*.[ch]
modules/ipc/ipc_*.[ch]
modules/math/math_*.[ch]
modules/network/network_*.[ch]
modules/number/number_*.[ch]
modules/posix/posix_*.[ch]
modules/reflection/reflection_*.[ch]
modules/regexp/regexp_*.[ch]
modules/serialize/serialize_*.[ch]
modules/stream/stream_*.[ch]
modules/string/string_*.[ch]
modules/sys/sys_*.[ch]
modules/test/test_*.[ch]
modules/thread/thread_*.[ch]
modules/unix/unix_*.[ch]
modules/xml/xml_*.[ch]
shtool
src/ferite_parser.output
modules-config.m4
scratch

